<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <div class="img-header">
        <img src="http://s0.limitedrun.com/images/1101066/8BP079_front_1400x1400.jpg">
        <p>I'm Matt Brucker.</p>
    </div>
    <div class="title-bar">
        <div class="title-bar-text">
            <p>Insert content about me.</p>
        </div>
    </div>
    <div class="page-content home">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
